<mat-accordion multi="true" *ngIf="employees.length > 0">
    <mat-expansion-panel *ngFor="let employee of employees">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{employee.firstName + ' ' + employee.lastName}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            {{employee.role}}
            <br>
            {{employee.email}}
            <br>
            {{employee.status}}
        </p>
        <mat-action-row>
            <a mat-button color="primary">Edit</a>
            <button mat-button color="warn">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalCount" [pageSize]="employeesPerPage" [pageSizeOptions]="pageSizeOptions"
(page)="onChangedPage($event)" *ngIf="employees.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="employees.length <= 0">No employees yet</p>